@media screen and (max-width: 1024.9px) {
	header {
		max-width: 100vw;
	}
	.nav {
		position: relative;
		&-menu {
			position: absolute;
			background-color: $color-secondary;
			display: flex;
			top: 0px;
			left: auto;
			right: 0;
			padding: 30px 30px 10px;
			border-radius: 0px 0px 0px 25px;
			& > ul {
				flex-direction: column;
				gap: 10px;
				text-transform: uppercase;
			}
		}
		&-social {
			position: absolute;
			left: 50px;
		}
	}
	.features {
		&-video {
			&__screen {
				& > iframe {
					width: calc(1920px / 2.5);
					height: calc(1080px / 2.5);
				}
			}
		}
	}
	.heros {
		flex-direction: column;
		align-items: center;
		&-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			& > h3 {
				text-align: center;
			}
			& > p {
				max-width: 400px;
				text-align: center;
			}
		}
	}
	.light {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		gap: 50px;
		text-align: center;
		justify-items: center;
		align-items: center;
		&-image {
			display: flex;
			grid-area: 2 / 1 / span 1 / span 1;
			justify-content: center;
			& > img {
				width: 80%;
				height: 80%;
			}
		}
		&-input {
			&__form {
				flex-direction: column;
				width: 350px;
				& > input {
					width: 350px;
				}
			}
		}
	}
	.partner {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 80%;
		& > p {
			max-width: 60%;
		}
		&-grip {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 60px;
			margin-bottom: 80px;
		}
		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 15px;
			& > span {
				@include normal-1;
			}
			& > img {
				height: 100px;
			}
		}
	}
	.testimonial {
		& > p {
			max-width: 60%;
		}
	}
	.pricing {
		&-grip {
			display: flex;
			gap: 10px;
			justify-content: center;
			align-items: center;
		}
		&-item {
			width: 250px;
			background-color: $white;
			color: $text-pri;
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		&-center {
			background-color: $color_primary;
			color: $white;
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}
}
